@use "../../styles/base/reset";

.comm {
    background-color: #1b1717;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.containerComm {
    font-family: 'Ubuntu', Arial, sans-serif;
    height: 80%;
    width: 80%;
    flex-direction: column;
    gap: 100px;

    & h2 {
        color: #ff6a00;
        font-size: 50px;
    }

    & p {
        line-height: 2;
        color: white;
        font-size: 25px;
        overflow: hidden;
    }
}

@media (max-width: 425px) {
    .containerComm {
        gap: 30px;
    }
}

@media (min-width: 1440px) {
    .containerComm h2 {
        font-size: 100px;
    }

    .containerComm p {
        font-size: 50px;
    }
}

@media (max-height: 430px) {
    .containerComm {
        gap: 10px;

        & p {
            line-height: 1.5;
        }
    }
}