@use "./base/reset.scss" as *;
@use "./base/utilities.scss" as *;

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
}

body::before {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/assets/heroImages/mainImage.webp") no-repeat center center / cover;
  content: " ";
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  will-change: transform;
  z-index: -1;
}

@media (max-width: 375px) {
  body::before {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("/assets/heroImages/mainImage-mobile.webp") no-repeat center center / cover;
  }
}
