@use './base/reset.scss' as *;
@use './base/utilities.scss' as *;
@use './base/variables.scss' as *;
@use '../components/Hero/Hero.scss';

// * {
//   outline: 1px solid rgb(255, 0, 0);
// }

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

html {
  scroll-behavior: smooth;
}

body{
  position: relative;
}

body::before {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
      url("../assets/images/mainImage.webp") no-repeat center center;
    background-size: cover;
    content: ' ';
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    will-change: transform;
    z-index: -1;
}

